.LH{padding:1px 0px 0px 0px; border-bottom:#0000FF 1px solid; border-right:#0000FF 1px solid;}
.HL{padding:1px 0px 0px 0px; border-top:#0000FF 1px solid; border-right:#0000FF 1px solid;}
.L{padding:1px 0px 0px 0px; border-bottom:#0000FF 1px solid;}
.H{padding:1px 0px 0px 0px; border-top:#0000FF 1px solid;}
